.content_white_page


.title_menu
    font-size: 60px
    margin: 0

.red_ban
    width: 90%

.margin_body
    margin-top: -30px

hr
    color: #edf2ef

.booking_form
    border-radius: 3%
    width: 50%

.card_img_border
    border: solid 4px #cecdcf
    border-radius: 10% 


.contact_card
    border: solid 15px #dc3545
    border-radius: 3%
    width: 25%

.icon_hover
    color: #edf2ef

.icon_hover:hover
    color: #dc3545

.deco
    margin-top: -15px

.deco_bot
    margin-bottom: -15px

.card_blog_media
    width: 40%

.blog_size
    width: 75%