.border_deco
    @media screen and (min-width: 320px) and (max-width: 600px)
        display: none

.img_menu
    @media screen and (min-width: 320px) and (max-width: 600px)
        width: 75px

.btn_menu_position
    @media screen and (min-width: 320px) and (max-width: 600px)
        flex-wrap: wrap
        justify-content: center

.media_title
    @media screen and (min-width: 320px) and (max-width: 600px)
        max-width: 70%
    
    
        